<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
	<nav th:replace="layout :: menu">(menu)</nav>
	<div class="container" style="margin-top: 80px;">
		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title">Aluguéis</h5>
		    <div class="table-responsive">
				<table class="table" id="aluguel">
					<thead class="thead-light">
						<tr>
							<th scope="col">Cliente</th>
							<th scope="col">Veículo</th>
							<th scope="col">Data Início</th>
							<th scope="col">Data Fim</th>
							<th scope="col" class="d-flex justify-content-end"><a href="form.html" th:href="@{/aluguel/novo}" class="btn btn-light mr-4 text-right" role="button"><i class="fas fa-plus"></i></a></th>
						</tr>
					</thead>
					<tbody>
						<tr scope="row" th:each="umaluguel : ${alugueis}">
							<td th:text="${umaluguel.cliente.nome}"></td>
							<td th:text="${umaluguel.carro.modelo}"></td>
							
							<td	th:text="${#dates.format(umaluguel.dataRetirada, 'dd/MM/yyyy')}"></td>
							<td	th:text="${#dates.format(umaluguel.dataDevolucao, 'dd/MM/yyyy')}"></td>
							
							<td class="d-flex justify-content-end"><a th:href="@{'/aluguel/edit/' + ${umaluguel.id}}"
								class="btn btn-secondary mr-2"><i class="fas fa-pencil-alt"></i></a>
								
								
								<button class="btn btn-danger js-delete"
									th:data-customer-id="${umaluguel.id}"><i class="fas fa-trash"></i></button></td>
						</tr>
					</tbody>
				</table>
		    </div>
		  </div>
		</div>
	</div>
	<div th:include="layout :: footer" id="footer">(footer)</div>
	<script type="text/javascript">
			$(document).ready(function(){
				$("#aluguel").on("click", ".js-delete", function(){
					var button = $(this);
					
					bootbox.confirm("Voce tem certeza que deseja excluir este aluguel?", function(result){
						if (result){
							$.ajax({
								url:"/aluguel/delete/" + button.attr("data-customer-id"),
								method: "GET",
								success: function(){
									window.location.href="/aluguel/"
								}
							});
						}
					});
				});
			});
		
		</script>
</body>
</html>