<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout :: htmlhead"></head>
	<body>
		<div class="container">
			<nav th:replace="layout :: menu">(menu)</nav>
				<div class="container" style="margin-top: 80px;">
					<div class="card">
					  <div class="card-body">
					    <h5 class="card-title">Veículos</h5>
					    <div class="table-responsive">
				 			
								<form th:action="@{/veiculo/(form)}" th:object="${veiculo}" action="#" method="post" enctype="multipart/form-data">
									<input type="hidden" id="txtid" th:field="*{id}" />
									
								    <div class="form-group">
								        <label for="txtnome">Marca</label>
								        <input type="text" th:field="*{marca}" class="form-control" 
								        id="txtmarca" placeholder="Marca">
								    </div>
								    
								    <div class="form-group">
								        <label for="txtnome">Modelo</label>
								        <input type="text" th:field="*{modelo}" class="form-control" 
								        id="txtmodelo" placeholder="Modelo">
								    </div>
								    
								    <div class="form-group">
								        <label for="txtnome">Ano</label>
								        <input type="number" th:field="*{ano}" class="form-control" 
								        id="numano" placeholder="Ano">
								    </div>
								    
								    <div class="form-group">
								        <label for="txtnome">Placa</label>
								        <input type="text" th:field="*{placa}" class="form-control" 
								        id="txtplaca" placeholder="Placa">
								    </div>
								    							    
								     <div class="form-group">
									    <label for="motor">Motor</label>
									    <select class="form-control" id="motor" th:field="*{motor}">
									      <option th:value="1.0" >1.0</option>
									      <option th:value="1.4" >1.4</option>
									      <option th:value="1.6" >1.6</option>
									      <option th:value="2.0" >2.0</option>
									    </select>
									</div> 
								    
								    <div class="form-group">
									    <label for="cambio">Cambio</label>
									    <select class="form-control" id="motor" th:field="*{cambio}">
									      <option th:value="automatico" >Automatico</option>
									      <option th:value="manual" >Manual</option>
									    </select>
									</div> 
								    
								    <div class="form-group">
									    <label for="portas">Portas</label>
									    <select class="form-control" id="portas" th:field="*{portas}">
									      <option th:value="2" >2</option>
									      <option th:value="4" >4</option>
									    </select>
									</div> 
									
									<div class="form-group">
									    <label for="arCondicionado">Ar Condicionado</label>
									    <select class="form-control" id="ArCondicionado" th:field="*{arCondicionado}">
									      <option th:value="true" >Sim</option>
									      <option th:value="false" >Não</option>
									    </select>
									</div> 
									
									<div class="form-group">
									    <label for="cor">Cor</label>
									    <select class="form-control" id="Cor" th:field="*{cor}">
									      <option th:value="preto" >Preto</option>
									      <option th:value="branco" >Branco</option>
									      <option th:value="prata" >Prata</option>
									      <option th:value="vermelho" >Vermelho</option>
									      <option th:value="azul" >Azul</option>
									    </select>
									</div> 
									
									<div class="form-group">
									    <label for="direcao">Direção</label>
									    <select class="form-control" id="Direcao" th:field="*{direcao}">
									      <option th:value="eletrica" >Elétrica</option>
									      <option th:value="hidraulica" >Hidráulica</option>
									      <option th:value="nao" >Não</option>
									    </select>
									</div> 
									
									<div class="form-group">
									    <label for="combustivel">Combustível</label>
									    <select class="form-control" id="Combustivel" th:field="*{combustivel}">
									      <option th:value="gasolina" >Gasolina</option>
									      <option th:value="alcool" >Álcool</option>
									      <option th:value="flex" >Flex</option>
									      <option th:value="diesel" >Diesel</option>
									      <option th:value="eletrico" >Elétrico</option>
									    </select>
									</div> 
									
									<div class="form-group">
								        <label for="txtnome">Valor Diária</label>
								        <input type="number" th:field="*{valDiaria}" class="form-control" 
								        id="numkmatual" placeholder="ValDiaria">
								    </div>
								    		    
								    <div class="input-group-btn input-group-select">
								    	<label for="txtnome">Imagem</label>
		                        		<input id="uploadedU" type="file" name="photo" onclick="onClickImage()"/>
		                        	</div>
						
								    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i></button>
								</form>
							
						</div>
				  	</div>
				</div>
			</div>
		</div>
		<div th:include="layout :: footer" id="footer">(footer)</div>
	</body>
</html>